*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: "Roboto";
   
    
}
.item {
    width: 300px;
    height: 200px;
}
 .grid-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
   
  
 }
 .container {
     max-width: 1269px;
       display: grid;
   margin:  auto;
   align-items: center;
 }
 .grid-wraper {

    justify-items: center;
    
 }
 .title {
   margin-bottom: 69px;
   font-family: "Roboto";
   
font-weight: 500;
font-style: Medium;
font-size: 50px;


 }
 .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px; 
    a {
        text-decoration: none;
        color: #0a0a0a;
    }
    
 }
 /*  styles for  index1 Gallery */
.grid-container {
    display: grid;
  
    grid-auto-columns: 300px;
    grid-auto-rows: 200px;
    gap: 23px;
    margin-bottom: 103px;
    grid-template-areas:
    "box-1 box-1 box-2 box-3"
    "box-4 box-5 box-6 box-6"
    "box-7 box-5 box-8 box-9" ;
}

/* styles for  index2 minimalism css */
.grid-content-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
   
  
 }

.minimalism {
    font-family: "Roboto";
font-weight: 200;
font-style: ExtraLight;
font-size: 50px;
margin-bottom: 69px;

}
.grid-content-1  :first-child{
box-shadow: 5px 4px 5px 0px #AC9D8D;

}
.grid-content-1  :nth-child(2){
box-shadow: 5px 4px 5px 0px #556161;
} 

.grid-content-1  :nth-child(4){
box-shadow: 5px 4px 5px 0px #D0E4EB;
} 
.grid-content-1  :nth-child(6){
box-shadow: 5px 4px 5px 0px #949AB0;
} 
.grid-content-1  :nth-child(7){
box-shadow: 5px 4px 5px 0px #EAD7CB;
} 


/* styles for  index3  starts here */
* {
  box-sizing: border-box;
}

.main-content {
    display: flex;
    max-width: 1530px;
    overflow: hidden;
}

.wrapper {
 max-width: 950px;
  padding-right: 13px;
}
.wrapper > div {
  
  
  color: #0a0a0a;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(200px,auto);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
  font-family: "Roboto";
font-weight: 100;
font-style: Thin;
font-size: 50px;
width: 600px;
padding:60px 90px;
color: #0a0a0a;
overflow: hidden;

}
.two {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
    font-family: "Roboto";
font-weight: 100;
font-style: Thin;
font-size: 50px;

padding:60px 90px;
color: #0a0a0a;

}
.three {
  grid-column: 3/4;
  grid-row: 2 ;


}
.four {
  grid-column: 2;
  grid-row: 3;
}
.five {
  grid-column: 1;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
.wrapper-1 {
  max-width:  700px;
  border-left: 1px solid black;
  padding-left: 13px;
  
 
}
.wrapper-1 > div {
  
 
  
  color: #d9480f;
}
.wrapper-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.seven {
  grid-column: 2;
  grid-row: 1;
}
.eight {
  grid-column: 1 ;
  grid-row: 2 ;
}
.nine {
  grid-column: 2;
  grid-row: 3 ;
}
.ten {
  grid-column: 1;
  grid-row: 4;
}
.box {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  filter: brightness(1.05);
}
.item {
  width: 100%;
  
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
  cursor: pointer;
  overflow: hidden;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  filter: brightness(1.05);
}